@font-face {
  font-family: "Almadinah3";
  src: url("Almadinah3.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  direction: rtl; /* Right-to-left text direction */
}

.banner.headerImg {
  width: 100%;
  height: 100%;
}

.headerImg {
  position: absolute; 
  top: 10%; /* Push the image right under the navbar */
  width: 100%;
  height: 70% ; /* Maintain aspect ratio */
  object-fit: cover ; /* Ensure image covers the area */
  object-position: 0px 30%;
  opacity: 80%;
}

.headerText {
  position: absolute;
  top: 55%;
  right: 23%;
  text-align: right;
  transform: translateY(-50%);
  text-shadow: rgba(92, 74, 86, 0.3) 0px 4px 25px;
  color: #ffffff;
  z-index: 2; /* Ensure text is above the gradient overlay */
}

.headerText h1,
.headerText p {
  margin: 0;
  animation: slideInFromRight 1s ease-in-out forwards;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.headerText h1 {
  font-size: 5vw; /* Responsive font size */
  margin-bottom: 1px;
  color: #fbfbfb;
  font-family: "Almadinah3", sans-serif;
  text-align: center;
}

.headerText p {
  font-size: 1.85vw; /* Responsive font size */
  width: 800px;
  text-align: center;
}

/*Styling breadcrumbs*/
.breadcrumbs {
  padding: 0;
  font-family: "Tajawal", sans-serif;
  direction: rtl; /* Right-to-left text direction */
  margin-top: 470px;
  margin-right: 70px;
}

.breadcrumbs_item {
  display: inline-block;
}

.breadcrumbs_item:not(:last-of-type)::after {
  /*virtual element*/
  content: ">";
  margin: 0 5px;
  color: rgba(92, 74, 86, 1);
}

.breadcrumbs_link {
  text-decoration: none;
  color: rgba(92, 74, 86, 1);
}

.breadcrumbs_link:hover {
  text-decoration: underline;
}

.breadcrumbs_link--active {
  color: rgba(92, 74, 86, 1);
  font-weight: 700;
}

.container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  margin-top: 10px;
}

.section3-content {
    text-align: center;
}

.section3-content p {
    color: #7E8D6B;
    font-weight: bold;
}

.section3-content h1 {
    color: #5C4A56;
    font-weight: bold;
    font-size: 3vw; /* Responsive font size */
    margin-bottom: 20px; /* Adjust margin bottom */
}

.section3-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px; /* Adjust margin top */
}

.restaurant-box {
    width: calc(23% - 20px); /* Adjust width */
    margin-bottom: 20px;
    margin-right: 4%; /* Adjust right margin to reduce space between boxes */
    position: relative;
    overflow: hidden; /* Ensure content doesn't overflow */
    border-radius: 1.5vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.restaurant-box:first-child {
    margin-right: 14%; /* Adjust right margin */
}

.restaurant-box img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Add transition effect */
}

.restaurant-box:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 25px 50px -12px;
}

.restaurant-box:hover img {
    transform: scale(1.05); /* Enlarge image on hover */
}

.overlay-re {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(144,152,131,0),rgba(144,152,131,1));
}


.restaurant-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 10%;
  padding-bottom: 10%;
  padding-top: 5%;
  background-color: rgba(255, 255, 255, 0.9); /* Adjust background color and opacity */
  color:#3D333A;
}


.restaurant-info h3 {
  margin-right: 15%;
  margin-bottom: 2%;
  font-size: 1.5vw; /* Responsive font size */
  text-align: right; 
}

.restaurant-info p {
  margin-right: 15%;
  font-size: 1vw; /* Responsive font size */
  text-align: right;
}

.restaurant-info .read-more {
  margin-right: 80%;
  font-family: "Tajawal";
  color: #909883;
  font-size: 1vw; /* Responsive font size */
  text-decoration: none; /* Remove underline */
}

.restaurant-info .read-more:hover {
  text-decoration: underline; /* Underline on hover */
}